<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8 ">
  <title>Title</title>
  <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="row justify-content-center mt-4">
  <div class="col-8">
  <table class="table table-striped text-secondary">
    <thead>
  <tr>
    <th>NAME</th>
    <th>SURNAME</th>
    <th>AGE</th>
    <th>SALARY</th>
  </tr>
  </thead>
    <tbody>
  <tr th:each="c: ${clients}">
    <td th:text="${c.id}"></td>
    <td th:text="${c.name}"></td>
    <td th:text="${c.surname}"></td>
    <td th:text="${c.age}"></td>
    <td th:text="${c.salary}"></td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</body>
</html>